.display {
  display: flex;

  @media (orientation: portrait) and (max-width: $bp-large) {
    flex-direction: column;
  }

  &__country {
    position: relative;
    width: 40%;
    flex: 1;

    & .capital {
      width: 100%;
      text-align: center;
      color: #6a9bd8;
      // position: absolute;
      // top: 0;
      // left: 50%;
      // transform: translate(-50%, 20%);
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.4);
    }

    @media (orientation: landscape) and (max-width: $bp-medium-2) {
      width: 25%;
      margin: 0 auto;
    }

    @media (orientation: portrait) and (max-width: $bp-large) {
      width: 60%;
      margin: 0 auto 4rem auto;
    }

    @media (orientation: portrait) and (max-width: $bp-small) {
      width: 50%;
      margin: 0 auto 2rem auto;
    }
  }

  &__country img {
    display: block;
    width: 100%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  }

  &__keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-left: 4rem;
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: #ebf5fc;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
      3px 3px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;

    @media (orientation: landscape) and (max-width: $bp-largest) {
      margin-left: 2rem;
    }

    @media (orientation: landscape) and (max-width: $bp-medium-2) {
      width: 75%;
      margin-left: 2rem;
    }

    @media (orientation: portrait) and (max-width: $bp-large) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.keyboard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & li {
    position: relative;
    list-style: none;
    text-align: center;
    font-size: 2.6rem;
    color: #6a9bd8;
    margin: 1rem;

    @media (orientation: landscape) and (max-width: $bp-medium-1) {
      margin: 0.7rem;
    }

    & label {
      position: relative;
      cursor: pointer;

      @media (hover: none) {
        cursor: default;
      }

      & input[type='checkbox'] {
        position: absolute;
        display: none;
      }

      & :checked ~ .icon-box {
        box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
          inset 3px 3px 5px rgba(0, 0, 0, 0.1);
      }

      & :checked ~ .icon-box p {
        transform: scale(0.95);
      }

      & .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background-color: #ebf5fc;
        box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
          3px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;

        @media (orientation: landscape) and (max-width: $bp-largest) {
          width: 4rem;
          height: 4rem;
        }

        @media (orientation: landscape) and (max-width: $bp-medium-1) {
          width: 5rem;
          height: 5rem;
        }

        @media (orientation: landscape) and (max-width: $bp-medium-2) {
          width: 4rem;
          height: 4rem;
        }

        @media (orientation: portrait) and (max-width: $bp-smallest-1) {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }
  }

  & li.correct label {
    color: green;
    cursor: default;
  }

  & li.wrong label {
    color: darkred;
    cursor: default;
  }
}

input[type='checkbox']:focus {
  outline: 0 !important;
}

.hint {
  display: flex;
  justify-content: space-evenly;

  & li label .icon-box {
    width: 100%;
    padding: 0 2rem;

    @media (orientation: landscape) and (max-width: $bp-largest) {
      width: 100%;
    }

    @media (orientation: landscape) and (max-width: $bp-medium-1) {
      width: 100%;
    }

    @media (orientation: landscape) and (max-width: $bp-medium-2) {
      width: 100%;
    }

    @media (orientation: portrait) and (max-width: $bp-smallest-1) {
      width: 100%;
    }
  }
}
