.navigation {
  &__logo {
    position: fixed;
    top: 4rem;
    left: 6rem;
    font-size: 7rem;
    color: royalblue;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: #fff;
    z-index: 3;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    z-index: 1;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -25%;
    z-index: 2;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    @media (orientation: portrait) and (max-width: $bp-small) {
      left: -35%;
    }
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;

    @media (orientation: portrait) and (max-width: $bp-small) {
      left: 85%;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 0 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      #fff 50%
    );
    background-size: 230%;
    transition: all 0.4s;
  }

  &__link span {
    display: inline-block;
    margin-right: 1.5rem;
  }

  &__link:hover,
  &__link:active {
    background-position: 100%;
    color: royalblue;
    transform: translateX(1rem);
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
  }

  &__icon,
  &__icon::before,
  &__icon::after {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: royalblue;
  }

  &__icon::before,
  &__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  &__icon::before {
    top: -0.8rem;
  }

  &__icon::after {
    top: 0.8rem;
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
