.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;

  transition: all 0.3s;

  &__content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    text-align: center;
  }

  & a {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: royalblue;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visibility;
}
