.secret-word {
  font-size: 2.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  letter-spacing: 2px;

  @media (orientation: landscape) and (max-width: $bp-medium-1) {
    font-size: 1.8rem;
  }

  @media (orientation: portrait) and (max-width: $bp-medium-2) {
    font-size: 1.8rem;
  }
}
